* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.top__ed {
  width: 100%;
  height: 80px;
  background-image: url("https://ae01.alicdn.com/kf/Hcbf5ea93e4034bd39409c8557d261746N.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right__ad {
  width: 40px;
  height: 100%;
  background-color: #373737;
  position: fixed;
  top: 0;
  right: 0;
}

.right__ad .pustata {
  width: 40px;
  height: 30%;
}

.right__ad .wrapper__1 {
  position: absolute;
  top: 30%;
  left: 0;
}

.right__ad .wrapper__1 img {
  width: 35px;
  height: 35px;
}

.right__ad .wrapper__1 li {
  width: 40px;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.right__ad .wrapper__1 a {
  color: #fff;
}

.right__ad .wrapper__1 a i {
  width: 26px;
  height: 26px;
}

.right__ad .wrapper__2 {
  width: 40px;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 0;
}

.right__ad .wrapper__2 li {
  width: 40px;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.right__ad .wrapper__2 a {
  color: #fff;
}

.right__ad .wrapper__2 a i {
  width: 26px;
  height: 26px;
}

nav {
  width: 100vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 1px #f5f2f2;
          box-shadow: 0px 1px #f5f2f2;
}

nav #wrapper__pdodat {
  margin: 10px;
  border: none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

nav #wrapper__pdodat:hover {
  color: red;
}

nav #wrapper__help {
  width: 70px;
  border: none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

nav #wrapper__help:hover {
  color: red;
}

nav span {
  margin: 10px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

nav span i {
  margin: 5px;
}

nav span:hover {
  color: red;
}

section {
  width: 100%;
  height: 130px;
}

section .aliexpress {
  width: 70%;
  height: 40px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .aliexpress .wrapper__img p {
  margin-top: 0;
  font-size: 12px;
  color: #999999;
}

section .aliexpress img {
  width: 166px;
  height: 34px;
}

section .aliexpress .search__box {
  background: #fff;
  width: 624px;
  height: 40px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 2px;
  margin-left: 10px;
}

section .aliexpress .search__box .search__txt {
  background: none;
  border: none;
  outline: none;
  float: left;
  padding: 5px;
  width: 600px;
}

section .aliexpress .search__box .search__txt .search__bnt {
  color: red;
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

section .aliexpress a {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

section .aliexpress a i {
  font-size: 30px;
}

section .wrapper__nav_2 {
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section .wrapper__nav_2 span {
  font-size: 12px;
  margin-right: -100px;
}

section .wrapper__nav_2 ul {
  width: 80%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}

section .wrapper__nav_2 ul li {
  margin: 10px;
  font-size: 12px;
}

section .wrapper__nav_2 ul li a {
  color: #666;
}

section .wrapper__nav_2 ul li a:hover {
  color: red;
  text-decoration: underline;
}

section .kategoriya {
  width: 70%;
  height: 40px;
  margin-top: -20px;
  margin-left: 30px;
}

section .kategoriya #wrapper_p {
  width: 200px;
  height: 48px;
  margin-left: 47px;
  background-color: #F2F2F2;
  border-radius: 6px;
}

section .kategoriya #wrapper_p p {
  padding-top: 10px;
}

section .kategoriya ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
}

section .kategoriya ul li {
  margin-left: 50px;
}

section .kategoriya ul li a {
  color: #000;
}

section .kategoriya ul li .plus {
  width: 100px;
  height: 40px;
  background-color: #fffb00;
}

section .kategoriya ul li .tmall {
  color: #ff0036;
}

.wrapper__fon {
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
}

.wrapper__fon .wrapper__osnov {
  width: 90%;
  height: 550px;
  margin-left: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__osnov .wrapper__telefon {
  width: 240px;
  height: 550px;
  background: #fff;
}

.wrapper__fon .wrapper__osnov .wrapper__telefon ul {
  margin: 10px;
}

.wrapper__fon .wrapper__osnov .wrapper__telefon ul li {
  padding: 8px;
  margin: 10px;
  color: #333;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper__fon .wrapper__osnov .wrapper__telefon ul li:hover {
  color: crimson;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.wrapper__fon .wrapper__osnov .wrapper__telefon ul li i {
  float: left;
  margin-left: -15px;
}

.wrapper__fon .wrapper__osnov .wrapper__seredina {
  width: 680px;
  height: 520px;
}

.wrapper__fon .wrapper__osnov .wrapper__seredina .wrapper__img1 {
  width: 680px;
  height: 300px;
  background-image: url("https://ae01.alicdn.com/kf/H8d7c0574158b4d1a9ac87e9ed16d61a1I/750x300.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.wrapper__fon .wrapper__osnov .wrapper__seredina img {
  width: 680px;
  height: 165px;
  margin-top: 20px;
  border-radius: 10px;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro {
  width: 260px;
  height: 520px;
  background: #FFF5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__icon {
  width: 50px;
  height: 50px;
  background-color: #FF7800;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__icon i {
  color: #fff;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__regist {
  width: 240px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__regist .wrapper__bnt {
  width: 100px;
  height: 36px;
  background-color: #FF4747;
  border-radius: 40px;
  border: none;
  color: #fff;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__regist .wrapper__bnt1 {
  background-color: #fff;
  border: none;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star {
  width: 230px;
  height: 320px;
  background-image: url("https://ae01.alicdn.com/kf/H39baf2321b2a4f13a2493d3f81440b3aS.png");
  border-radius: 5px;
  cursor: pointer;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star p {
  color: #fff;
  padding: 10px;
  font-size: 12px;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .skidka {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kupon {
  width: 195px;
  height: 52px;
  background-color: #FF5F47;
  margin: 10px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kupon .poluchat {
  width: 155px;
  height: 52px;
  background-color: #FF5F47;
  border: 1px solid #fff;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kupon .poluchat p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kupon .strelka {
  width: 40px;
  height: 52px;
  background-color: #FF5F47;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kupon .strelka i {
  width: 15px;
  height: 15px;
  background-color: #fff;
  font-size: 10px;
  color: #FF5F47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kabel {
  width: 220px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kabel .wrapper__kabel1 {
  width: 105px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("https://ae04.alicdn.com/kf/H351b0c07be76495b864543a3dfbf5364B/1-1-6AWG-7AWG-8AWG-10AWG-12AWG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kabel .wrapper__kabel1 p {
  width: 90px;
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  font-size: 13px;
  border-radius: 10px;
  z-index: 999;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kabel .wrapper__kabel2 {
  width: 105px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("https://ae04.alicdn.com/kf/H351b0c07be76495b864543a3dfbf5364B/1-1-6AWG-7AWG-8AWG-10AWG-12AWG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.wrapper__fon .wrapper__osnov .wrapper__dobro .wrapper__star .wrapper__kabel .wrapper__kabel2 p {
  width: 90px;
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  font-size: 13px;
  text-align: center;
  border-radius: 10px;
  z-index: 999;
}

.wrapper__fon .wrapper__vau {
  width: 90%;
  height: 100px;
  margin-left: 5.5%;
  background-image: url("https://ae01.alicdn.com/kf/H5b81905039724efeb8e843a252fc602fW/1200x100.png");
}

.wrapper__fon .wrapper__grid {
  width: 90.5%;
  height: 170px;
  margin-left: 5.5%;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.wrapper__fon .wrapper__grid .wrapper__grid_1 {
  width: 395px;
  height: 170px;
  border-radius: 10px;
  background-image: url("https://ae01.alicdn.com/kf/H5b0959f20cb84a88b1b5bd49d5213d33l.png");
}

.wrapper__fon .wrapper__grid .wrapper__grid_1 img {
  width: 143px;
  height: 143px;
  border-radius: 10px;
  margin-top: 14px;
  margin-left: 8px;
}

.wrapper__fon .wrapper__grid .wrapper__grid_2 {
  width: 395px;
  height: 170px;
  border-radius: 10px;
  background-image: url("https://ae01.alicdn.com/kf/H6709d7330c6545cba3840344136f6665p/390x163.png");
}

.wrapper__fon .wrapper__grid .wrapper__grid_2 img {
  width: 143px;
  height: 143px;
  border-radius: 10px;
  margin-top: 14px;
  margin-left: 8px;
}

.wrapper__fon .wrapper__grid .wrapper__grid_3 {
  width: 395px;
  height: 170px;
  border-radius: 10px;
  background-image: url("https://ae01.alicdn.com/kf/H0f25a172ee8945c3b51cd2c77accc5540/390x163.png");
}

.wrapper__fon .wrapper__grid .wrapper__grid_3 img {
  width: 143px;
  height: 143px;
  border-radius: 10px;
  margin-top: 14px;
  margin-left: 8px;
}

.wrapper__fon .wrapper__products {
  width: 90%;
  height: 260px;
  margin-left: 5.5%;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px #FFF5F5;
          box-shadow: 5px 5px 5px 5px #FFF5F5;
  cursor: pointer;
}

.wrapper__fon .wrapper__products:hover {
  -webkit-box-shadow: 1px 1px 5px 5px #d1cbcb;
          box-shadow: 1px 1px 5px 5px #d1cbcb;
}

.wrapper__fon .wrapper__products .tovari {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__products .tovari .tovar__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__products .tovari .tovar__1 h3 {
  font-weight: 300;
}

.wrapper__fon .wrapper__products .tovari .tovar__1 p {
  color: #666;
}

.wrapper__fon .wrapper__products .tovari span {
  font-size: 13px;
  color: #666;
}

.wrapper__fon .wrapper__products .wrapper__grid__tovar {
  width: 100%;
  height: 170px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.wrapper__fon .wrapper__products .wrapper__grid__tovar .product1 {
  width: 140px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__products .wrapper__grid__tovar .product1 img {
  background-color: #F5F5F5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid aliceblue;
}

.wrapper__fon .wrapper__products .wrapper__grid__tovar .product1 img:hover {
  -webkit-box-shadow: 1px 1px 2px 2px #d1cbcb;
          box-shadow: 1px 1px 2px 2px #d1cbcb;
}

.wrapper__fon .wrapper__products .wrapper__grid__tovar .product1 span {
  width: 50px;
  height: 18px;
  background: red;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 10px;
}

.wrapper__fon .wrapper__products .wrapper__grid__tovar .product1 p {
  font-style: italic;
}

.wrapper__fon .wrapper__h2 {
  width: 100%;
  height: 290px;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapper__fon .wrapper__h2 h2 {
  margin-left: 80px;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye {
  width: 90%;
  height: 290px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .smelie {
  width: 288px;
  height: 288px;
  background-image: url("proekt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .smelie:hover {
  -webkit-box-shadow: 2px 5px 2px 5px #d1cbcb;
          box-shadow: 2px 5px 2px 5px #d1cbcb;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .smelie p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .smelie img {
  width: 166px;
  height: 168px;
  margin-top: 70px;
  margin-left: 10px;
  border-radius: 8px;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .smelie #img__1 {
  width: 81px;
  height: 83px;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki {
  width: 864px;
  height: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki .igrushki__1 {
  width: 864px;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki .igrushki__1 .igrushki__one1 {
  width: 280px;
  height: 135px;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki .igrushki__1 .igrushki__one1:hover {
  -webkit-box-shadow: 2px 5px 2px 5px #d1cbcb;
          box-shadow: 2px 5px 2px 5px #d1cbcb;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki .igrushki__1 .igrushki__one1 p {
  width: 283px;
  height: 40px;
  background: #fff;
  color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px 8px 0 0;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki .igrushki__1 .igrushki__one1 .img__igrushki {
  width: 252px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__h2 .wrapper__skidki_kotogoriye .igrushki .igrushki__1 .igrushki__one1 .img__igrushki img {
  width: 84px;
  height: 86px;
  border-radius: 5px;
  margin-left: 10px;
}

.wrapper__fon .wrapper__top_podborka {
  width: 90%;
  height: 290px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 8px;
}

.wrapper__fon .wrapper__top_podborka:hover {
  -webkit-box-shadow: 2px 5px 2px 5px #d1cbcb;
          box-shadow: 2px 5px 2px 5px #d1cbcb;
}

.wrapper__fon .wrapper__top_podborka .wrapper__top__text {
  width: 90%;
  height: 40px;
  padding: 10px;
}

.wrapper__fon .wrapper__top_podborka .wrapper__top__text P {
  width: 166px;
  height: 48px;
  margin-left: 10px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.wrapper__fon .wrapper__top_podborka .wrapper__top__text P i {
  width: 25px;
  height: 25px;
  background: #C7864D;
  color: #fff;
  border-radius: 50%;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya {
  width: 100%;
  height: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .ukrasheniya {
  width: 330px;
  height: 160px;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .ukrasheniya .broshi {
  width: 240px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .ukrasheniya .broshi .text__one {
  width: 220px;
  height: 40px;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .ukrasheniya .broshi h5 {
  width: 100px;
  height: 40px;
  background-color: #F4E2CF;
  color: #CC8859;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .ukrasheniya .broshi p {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .ukrasheniya .broshi span {
  font-size: 12px;
  color: #a59f9f;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .kartina {
  width: 240px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.wrapper__fon .wrapper__top_podborka .wrapper__ukrasheniya .kartina img {
  width: 116px;
  margin: 5px;
}

.wrapper__fon h1 {
  width: 90%;
  margin: 10px auto;
}

.wrapper__fon .wrapper__rekomen {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen__1 {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen__1 .rekomen {
  width: 175px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  line-height: 1.2;
  cursor: pointer;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen__1 .rekomen:hover {
  -webkit-box-shadow: 2px 5px 2px 5px #d1cbcb;
          box-shadow: 2px 5px 2px 5px #d1cbcb;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen__1 .rekomen img {
  width: 160px;
  height: 170px;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen__1 .rekomen span {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen__1 .rekomen p {
  color: #6a6c70;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen_2 {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen_2 .rekomen {
  width: 175px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  line-height: 1.2;
  cursor: pointer;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen_2 .rekomen:hover {
  -webkit-box-shadow: 2px 5px 2px 5px #d1cbcb;
          box-shadow: 2px 5px 2px 5px #d1cbcb;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen_2 .rekomen img {
  width: 160px;
  height: 170px;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen_2 .rekomen span {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.wrapper__fon .wrapper__rekomen .wrapper__rekomen_2 .rekomen p {
  color: #6a6c70;
}

.wrapper__fon .wrapper__button {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__fon .wrapper__button button {
  width: 170px;
  height: 30px;
  background-color: #FF4747;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background-color: #fff;
  margin-top: 20px;
}

footer .wrapper__footer {
  width: 90%;
  height: 260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper__footer .box {
  width: 200px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #5a5757;
  line-height: 1.5;
}

footer .wrapper__footer .box h2 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

footer .wrapper__footer .box i {
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  color: #5A7EA8;
  font-size: 50px;
}

footer .wrapper__footer .box span {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #999999;
}

footer .wrapper__footer2 {
  width: 90%;
  height: 130px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper__footer2 .box_1 {
  width: 300px;
  height: 108px;
}

footer .wrapper__footer2 .box_1 h3 {
  font-family: 'Open Sans', sans-serif;
}

footer .wrapper__footer2 .box_1 .icon {
  width: 250px;
  height: 40px;
}

footer .wrapper__footer2 .box_1 .icon img {
  width: 30px;
  height: 30px;
}

footer .wrapper__footer2 .box_2 {
  width: 221px;
  height: 108px;
  line-height: 1.5;
}

footer .wrapper__footer2 .box_2 p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

footer .wrapper__footer2 .box_2 span {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #999999;
  cursor: pointer;
}

footer .wrapper__footer2 .box_2 span:hover {
  text-decoration: underline;
}

footer .pustoy {
  width: 100%;
  height: 20px;
  background-color: #F2F2F2;
}

footer .wrapper__footer__3 {
  width: 100%;
  height: 360px;
  background-color: #E8E8E8;
}

footer .wrapper__footer__3 .footer__box {
  width: 90%;
  height: 224px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

footer .wrapper__footer__3 .footer__box .box__3 {
  width: 560px;
  height: 112px;
}

footer .wrapper__footer__3 .footer__box .box__3 h3 {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

footer .wrapper__footer__3 .footer__box .box__3 p {
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #999;
  cursor: pointer;
}

footer .wrapper__footer__3 .footer__box .box__3 p a {
  color: #999;
}

footer .wrapper__footer__3 .footer__box .box__3 p a:hover {
  color: orangered;
}

footer .wrapper__footer__3 .footer__icons {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper__footer__3 .footer__icons .android {
  width: 147px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A4C739;
  border-radius: 8px;
  cursor: pointer;
}

footer .wrapper__footer__3 .footer__icons .android img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

footer .wrapper__footer__3 .footer__icons .android p {
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

footer .wrapper__footer__3 .footer__icons .iphone {
  width: 147px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8C8C8C;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
}

footer .wrapper__footer__3 .footer__icons .iphone i {
  width: 30px;
  height: 30px;
  background-color: #8C8C8C;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

footer .wrapper__footer__3 .footer__icons .iphone p {
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

footer .end {
  width: 100%;
  height: 34px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .end p {
  width: 90%;
  margin: 0 auto;
  color: #999;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */